<div class="main">
    
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images-static.nykaa.com/uploads/2f9fc5f5-d76d-49bc-babe-857d49ca4fe5.jpg?tr=w-1200,cm-pad_resize" alt="Los Angeles" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="https://images-static.nykaa.com/uploads/8e73a330-a3f7-43c3-956d-5711763d34a0.jpg?tr=w-1200,cm-pad_resize" alt="Chicago" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="https://images-static.nykaa.com/uploads/f1bd6003-9864-4efc-8e43-4c3de5400a4f.jpg?tr=w-1200,cm-pad_resize" alt="New York" class="d-block" style="width:100%">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <div class="carousel-item active">
    <img src="https://images-static.nykaa.com/uploads/d5f5477e-b00c-4716-bc8b-4c850abda7da.png?tr=w-1200,cm-pad_resize" alt="Los Angeles" class="d-block" style="width:100%">
  </div>
<br>
<br>
<!-- -----------------------------card------------------------------------------------------ -->
<br>
<br>
<!-- <br>
<br>
<h1 id="tag">Top Brands</h1>
  <div class="wrapper">
<div class="card text-center" >
  <div class="image">
    <img src="../../assets/blush.png" width="300">
            </div>
            <div class="about-product text-center">
            <h3>long stay lipstick</h3>
            <h4>$<small>Inr.500</small></h4>
            <button class="btn btn-success buy-now" routerLink="/Blush">View</button>
        </div>
    </div>

    <div class="card text-center" >
      <div class="image">
        <img src="../../assets/foundation.png" width="300">
                </div>
                <div class="about-product text-center">
                <h3>long stay lipstick</h3>

                <button class="btn btn-success buy-now" routerLink="/Blush">View</button>
            </div>
        </div>

        <div class="card text-center" >
          <div class="image">
            <img src="../../assets/blush.png" width="300">
                    </div>
                    <div class="about-product text-center">
                    <h3>long stay lipstick</h3>
                    <h4>$<small>Inr.500</small></h4>
                    <button class="btn btn-success buy-now" routerLink="/Blush">View</button>
                </div>
            </div>
   
</div> -->



<div class="container text-center">
  <h1>Product card</h1>
    <span>Create With <i class="zmdi zmdi-favorite red"></i>  By: <strong>Deni Kurniawan</strong> From: <i><a href="http://blog.wingerdstok.com" class="wsk-btn">Wingerdstok</a></i></span>
  </div>
  
  
  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img src="https://media6.ppl-media.com/tr:h-235,w-235,c-at_max,oi-purplle_exclusive_base_1__1__BytKq6D4b.png,ofo-top_right,dpr-2/static/img/product/251828/ny-bae-sunset-skyline-blush-cloudy-pink-5gm_3_display_1635482310_d27064e7.jpg" alt="Product" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span  routerLink="/Blush">View</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/3a413aa0-5ce1-4042-9abf-ebe3fe65305b.png?tr=w-300,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Introvert</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/71192733-2225-4dca-b5e9-3d78586b23ab.jpg?tr=w-300,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Beauty</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/7b9c85fe-c92a-43ec-9313-810e4edb0fb6.jpg?tr=w-300,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Drama</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart cvf ggf gfg g</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img src="https://images-static.nykaa.com/uploads/94f59e6a-86bb-400f-913a-85d171eb250c.jpg?tr=w-240,cm-pad_resize" alt="Product" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Ethnic</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/437dd9df-60fe-47c3-aa84-b5cfd2514b1e.jpg?tr=w-300,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Introvert</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/c28d352d-43f1-4141-b030-e1e0dc9d7fc8.jpg?tr=w-300,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Beauty</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images-static.nykaa.com/uploads/61dafa32-0988-4fbc-8f48-95ea8cc0c4b2.jpg?tr=w-240,cm-pad_resize" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Drama</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart cvf ggf gfg g</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  