
<div class="container-fluid" >

    <div class="container" *ngFor="let item of myorder"  >
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3"  >
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order#:AA{{item.id}} <br> Date:{{item.Date | date}}</h2>
     
      </div>
    
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="badge rounded-pill bg-info">SHIPPING</span>
                </div>
              </div>
              <!-- ------------------------------------------------------------------ -->
              <table class="table table-borderless" >
                <tbody>
                  <tr class="row">
                 
                    <div class="d-flex mb-2" *ngFor="let items of myordersfromcart" >
                      <div class="flex-lg-grow-1 ms-3"  *ngIf="item.id === items.orderid">
        
                    <td class="col">
                          <h3 class="small"><h2>{{items.name}}</h2></h3>
                          <span class="small">shade: {{items.shade}}</span>
                        </td>
                        <td class="col">
                          <h3 class="small "><h2>{{items.quantity}}</h2></h3>
                        </td>

                        <td class="col">
                          <h3 class="small "><h2>{{items.price | currency}}</h2></h3>
                        </td>
                        
                        </div>
                      </div>
                  </tr>
                </tbody>
                <tfoot>
                  <!-- ------------------ -->
                  <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">{{item.total}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">$100.00</td>
                  </tr>
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end">{{item.total+100}}</td>
                  </tr>

                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Payment Method</h3>
                  <p>UPI <br>
                  Total: {{item.total+100}}<span class="badge bg-success rounded-pill">PAID</span></p>
                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Billing address</h3>
                  <address>
                    <strong>SANA NAAZ</strong><br>
                    H.NO 4-50 sangtrashwadi darga road gulbarga<br>
                    pincode 585101<br>
                    <abbr title="Phone">P:</abbr> (+91) 9876543212
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
     