<br>
<br>

<!-- <div class="search">
    <input
    type="text"
    class="form-control"
    [(ngModel)]="name"
    placeholder="Search Product"
    #myInput 
    (input)="searchText()"
  />
</div> -->

<div class="search">
<input
      type="text"
      [(ngModel)]="searchText"
      class="form-control"
      placeholder="Search By Name"
    />
    <button
    id="button"
      color="primary"
      type="submit"
      (click)="getSearch(searchText)"
    >SEARCH
    </button>
</div>
<br>

  
  <div class="col">
    <div class="row">
        <select class="form-select " #item (change)="onSelectedBrand(item.value)">
 
            <option selected>Filter by brand</option>
            <option value="kay">kay</option>
            <option value="nykaa">nykaa</option>
            <option value="flower">flower</option>
            <option value="mac">mac</option>
           <option value="">-------</option> 
          </select>
    </div>
  
    <div class="row">
        <select class="form-select " #item1 (change)="onSelectedPrice(item1.value)">
            <option selected>Filter by price</option>
            <option value="300">300</option>
            <option value="500">500</option>
            <option value="400">400</option>
            <option value="100">100</option>
           <option value="">-------</option>
          </select>
    </div>
    

  </div>

      <br>
      <br>
      <br>
<div>
    <!-- <i id="icon"
    class='fas fa-cart-plus' style='font-size:36px;color:#AA336A' routerLink="/cart"></i> -->
    <div style="font-size: 10px" class="badge bg-danger"></div>
<div class="wrapper">
    <div class="container">
        <div class="row g-1">
            <div class="col-md-3" *ngFor="let item of blush">
                <div class="card p-3" >
                    <div class="text-center">
                        <img src="{{item.image}}" width="200">
                    </div>
                    <div class="product-details">
                        <h2 class="font-weight-bold d-block">{{item.name}}</h2>
                        <span>shade:{{item.shade}}</span>
                        <h2 class="font-weight-bold d-block">${{item.price}}</h2>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div>
                             <button (click)="addToCart(item)"
                                class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                            </button>
                        </div>
                        <!-- <div class="weight">
                            <small>1 piece 2.5kg</small>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ------------------------------------------------------- -->
            <!-- <div class="col-md-3">
                <div class="card p-3">
                    <div class="text-center">
                        <img src="https://i.imgur.com/ZRUetRF.jpg" width="200">
                    </div>
                    <div class="product-details">
                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                            </button>
                        </div>
                        <div class="weight">
                            <small>1 piece 2.5kg</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="text-center">
                        <img src="https://i.imgur.com/0M7pldG.jpg" width="200">
                    </div>
                    <div class="product-details">
                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                            </button>
                        </div>
                        <div class="weight">
                            <small>1 piece 2.5kg</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="text-center">
                        <img src="https://i.imgur.com/emb60L5.jpg" width="200">
                    </div>
                    <div class="product-details">
                        <span class="font-weight-bold d-block">$ 7.00</span>
                        <span>Red Redish</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                            </button>
                        </div>
                        <div class="weight">
                            <small>20 piece 2.5kg</small>
                        </div>
                    </div>
                </div>
            </div> -->
  